* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body,
html {
  overscroll-behavior: none;
  background-color: #000000;
  height: 100vh;
  width: 100%;
  color: #ffffff;
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.image-container2 {
  position: relative;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: right;
  justify-content: right;
  z-index: -1;
}


.scrollabe h1 {
  position: absolute;
  left: 0;
  top: 60%;
  left: 55%;
  z-index: 10;
  color: #ff0000;
  /* mix-blend-mode: difference; */
}

a {
  position: relative;
}

.scrollable p {
  position: absolute;
  left: 0;
  top: 60%;
  left: 40%;
  width: 40%;
  z-index: 10;
  color: #e2e2e2;
  font-size: large;
  /* mix-blend-mode: difference; */
}

/* img {
  visibility: hidden;
} */

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.stem{
  top: 0;
  height: 600vh;
  width: 40%;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #ff0000;
}

.dfnr{
  top: -60%;
  height: 80%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin: 10%;
  margin-bottom: 20%;
  padding: 10px;
}

.mesh{
  height: 40vh;
  visibility: hidden;
}

.columns p{
  right: 5%;
  top: 50%;
  width: 50%;
  padding: 10%;
  z-index: 10;
  color: #ff3300;
  font-size: large;
  text-align: left;
}

.column {
  flex: 50%;
}

.name{
  height: 20vh;
}

.left{
justify-self: left;
}

.right{
justify-self: right;
}

.middle {
  position: relative;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project{
  /* visibility: hidden; */
  right: 0;
  width: 0%;
  position: absolute;
}

.project2{
  /* visibility: hidden; */
  top: -100% ;
  height: 0%;
  position: absolute;
}


.project  h1{
  font-size: xx-large;
  color: #ff0000;
  position: relative;
  text-align: left;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-col {
  width:100%;
}

.project-col p{
  position: relative;
  left: 0;
  top: 0;
  padding-top: 5px;
  width: 60%;
}

.mini-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

}

.leftcol {
  width:10%;
  height:100vh;
  overflow:hidden;
  float:left;
}

.rightcol {
  width:90%;
  height:100vh;
  overflow-x:hidden;
  overflow-y:scroll;
  float:right;
}

.rightcol img{
  width: 100%;
  padding-top: 5px;
}

.project-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: scroll;
  background-color: rgb(0, 0, 0); 
  opacity: 0.8;
  color: #FFF;
  transition: all 1s;
  padding: 5%;
}

.project-slider.close {
  top: 100%;
  height: 0;
}

.project-link{
  cursor:pointer;
}

.project-link:hover{
  color : #ff0000;
}
/*# sourceMappingURL=index.de101254.css.map */
